<div>
  <div dir-paginate="post in posts | orderBy: '-upvotes' | itemsPerPage: 10">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
    {{post.upvotes}}

    <span style="font-size:20px; margin-left:10px;">
      <a href="#/posts/{{post.id}}">{{post.title}}</a>
      <span style="font-size:18px" class="glyphicon glyphicon-trash" ng-click="removePost(post.id)" class="close" ng-if="userSession.user.id == post.user_id || userSession.user.role == 'admin'">        
      </span>
      <span style="font-size:15px">
        <br>
        posted by <a ng-href="#/users/{{post.user.username}}">{{post.user.username}}</a>
      </span>
    </span>
  </div>

  <div>
    <dir-pagination-controls></dir-pagination-controls>
  </div>
  
  <form name="addPostForm" ng-submit="addPost()"  ng-show="userSession.signedIn()">
    <h3>Add a new post</h3>
    <div class="form-group">
      <input name="title"
      type="text"
      class="form-control"
      placeholder="Title"
      ng-model="title"
      required></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Body"
      ng-model="body"
      required></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>

</div> 

