<div>
  <div class="jumbotron">
    <div class="row"> 
      <div ng-repeat="tag in tags">
        <div class="col-xs-1">
          <h4><a href="#">{{tag.title}}</a></h4>
        </div>
      </div>
    </div>
  </div>
  <div dir-paginate="post in posts | orderBy: '-upvotes' | itemsPerPage: 10">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
    {{post.upvotes}}

    <span style="font-size:20px; margin-left:10px;">
      <a href="#/posts/{{post.id}}">{{post.title}}</a>
      <span style="font-size:18px" class="glyphicon glyphicon-trash" ng-click="removePost(post.id)" class="close" ng-if="userSession.user.id == post.user_id || userSession.user.role == 'admin'">        
      </span>
      <span style="font-size:15px">
        <br>
        posted by <a ng-href="#/users/{{post.user.username}}">{{post.user.username}}</a>
      </span>
    </span>
  </div>

  <div>
    <dir-pagination-controls></dir-pagination-controls>
  </div>
  
  <form name="post" ng-submit="addPost()"  ng-show="userSession.signedIn()">
    <h3>Add a new post</h3>
    <div class="form-group">
      <input name="post[title]"
      type="text"
      class="form-control"
      placeholder="Title"
      ng-model="title"
      required></input>
    </div>
    <div class="form-group">
      <textarea type="text"
      name='post[body]'
      class="form-control"
      placeholder="Body"
      ng-model="body"
      required></textarea>
    </div>
    
    <div class="form-group select optional post_taggings_tag">
      <select class="select optional form-control" 
      id="post_taggings_attributes_tag_id" 
      name="post[taggings_attributes][tag_id]" 
      ng-options="tag as tag.title for tag in tags track by tag.id"
      ng-model="selectedTags"></select>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>

</div> 

